body{
    background-color:rgb(131, 170, 255);
    color:#fff;
} 
body .signup-container{
    font-size:14px;
}
.signup-container{
    padding-top: 125px;
    padding-bottom: 50px;

    width:300px;
    height: 100%;
    max-width:100%;
    margin:50px auto;
}
.signup-container h2{
    text-align:center;
    font-size:20px;
    color: #1f2eff;
}

.signup-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
a{
    color:#fff;
}
.navbar-dark{
    background-color: #1f2eff ;
}
.footer{
    background-color: #abcbff;
    color: #222222;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.thisbtnlogin{
    background-color: white;
    color: #5286F3;
}

.thisbtnlogin:hover {
    background-color: #1f2eff;
    color: white;
}