.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
}

.footer{
    background-color: #abcbff;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbo{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #4f90ff;
    color: floralwhite;
}

/* #danuskuy .btn{
    background-color: white;
    color: #4f90ff;

}

#danuskuy .btn:hover{
    background-color: #1f2eff ;
    color: white;
} */
}
address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding-top:50px ;
    z-index: 0;
}
    
.navbar-dark{
    background-color: #1f2eff ;
}